/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  margin: auto;
  padding: 2% 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#poke-logo {
  max-width: 20%;
}

.nav-items {
  display: flex;
  gap: 10px;
  width: auto;
}

.nav-item a {
  color: rgb(11, 9, 9);
}

.nav-item.active {
  border-bottom: 2px solid rgba(96, 165, 250, 1.9);
}

/* Main styles */
main {
  padding: 20px;
}

.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.item button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
