* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

header {
  display: flex;
  align-items: baseline;
  gap: 4rem;
}

h1 {
  color: red;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.active {
  text-decoration-line: underline;
}

#comments-popup {
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background-color: lightgray;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
}

.popup-img {
  width: 30%;
  height: auto;
}

.features {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.features :nth-child(4) {
  grid-area: 2 / 2 / span 2 / span 1;
}

.comments-form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1% 10%;
  background: #2468b1;
}
