* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Baumans', 'Courier New', Courier, monospace;
}

body {
  padding: 1rem 4rem 10rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

header {
  display: flex;
  align-items: baseline;
  gap: 4rem;
}

h1 {
  color: red;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.active {
  text-decoration-line: underline;
}

#comments-popup {
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 3rem;
  padding: 1rem;
  background-color: lightgoldenrodyellow;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  overflow-y: scroll;
  color: darkslategray;
  box-shadow: 0 0 16px 0 darkgoldenrod;
}

.poke-name {
  align-self: center;
  font-size: xx-large;
}

#comments-popup * {
  padding: 0.5rem;
}

#char li * {
  padding: 0.3rem;
}

#comments-popup > *:not(:first-child) {
  margin: 0 5rem;
}

.popup-img {
  width: 40%;
  height: auto;
  align-self: center;
}

.features {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.features :nth-child(4) {
  grid-area: 2 / 2 / span 2 / span 1;
}

.comments-form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.close {
  align-self: flex-start;
  font-size: 48px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1% 10%;
  background: #2468b1;
  color: white;
}

#char {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  gap: 2.5%;
  grid-auto-rows: auto;
  padding: 1rem;
}

#char li {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;
  gap: 1rem;
  background-color: yellow;
  box-shadow: 2px 2px 8px 0 orange;
  padding: 1rem;
  border-radius: 1rem;
}

#char li img {
  max-width: 100%;
  aspect-ratio: 1/1;
}

#char li p {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#char span {
  align-self: center;
}

#char li p span {
  cursor: pointer;
}

#char li p span:hover {
  transform: scale(1.1);
}
