* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

header {
  display: flex;
  align-items: baseline;
  gap: 4rem;
}

h1 {
  color: red;
}

.menu {
  flex: 1;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.active {
  text-decoration-line: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1% 10%;
  background: #2468b1;
}
